* {
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  margin: 0 auto;
}

body {
  background: #FFFFFF;
  font-family: "Oswald", sans-serif;
}

a {
  text-decoration: none;
}

#chek {
  display: none;
}

.inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inputs h2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.title h3 {
  padding: 13px 0 0 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  color: #000000;
  height: 0;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}

.minus {
  display: none;
}

#chek:checked ~ .title h3 {
  height: 60px;
  overflow: visible;
}

#chek:checked ~ .plus {
  display: none;
}

#chek:checked ~ .minus {
  display: block;
}

.inputs ion-icon {
  color: #0057FF;
  font-size: 25px;
}

#chek2 {
  display: none;
}

#chek3 {
  display: none;
}

#chek2:checked ~ .title h3 {
  height: 40px;
  overflow: visible;
}

#chek3:checked ~ .title h3 {
  height: 90px;
  overflow: visible;
}

#chek4 {
  display: none;
}

#chek4:checked ~ .title h3 {
  height: 40px;
  overflow: visible;
}

.accordeon {
  cursor: help;
  margin: 35px 0 35px 30px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide1 {
  background: #FFFFFF;
  border: 1px solid #E7E7E7;
  border-radius: 10px;
  height: 380px;
}

.slide1 img {
  width: 100px;
  height: 100px;
}

.slide1 h2 {
  padding: 20px 0 10px 0;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.slide1 h3 {
  font-weight: 400;
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  padding-bottom: 15px;
}

.slide1 p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  padding: 30px 20px 10px 20px;
}

.slide1 ion-icon {
  color: orange;
}

button {
  transition: 1s;
}

button:hover {
  transform: scale(1.3, 1.3);
}

@keyframes circleKey {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
#header .header {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .header--menu {
  margin-right: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 36%;
}
#header .header--menu a {
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #000000;
}
#header .header--btn {
  background: #0057FF;
  border-radius: 30px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
  font-family: "Oswald", sans-serif;
  padding: 12px 35px;
  font-weight: 400;
}

#hero .hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#hero .hero--group1 h1 {
  padding-bottom: 50px;
  font-weight: 400;
  font-size: 56px;
  line-height: 66px;
  text-transform: uppercase;
  color: #000000;
}
#hero .hero--group1 p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #000000;
}
#hero .hero--group1__samanta {
  padding: 20px 0 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 49%;
}
#hero .hero--group1__samanta--coment h2 {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}
#hero .hero--group1__samanta--coment__star ion-icon {
  color: orange;
}
#hero .hero--group1 button {
  background: #0057FF;
  border-radius: 30px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
  font-family: "Oswald", sans-serif;
  padding: 12px 35px;
  font-weight: 400;
  background: #FFA332;
}
#hero .hero--group2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#hero .hero--group2__img1 {
  width: 585px;
  margin-left: -230px;
}
#hero .hero--group2__img2 {
  width: 200px;
  position: absolute;
  margin-left: 173px;
  margin-top: 130px;
  animation: 3s circleKey infinite linear;
}
#hero .img {
  margin-top: -20px;
  animation: 3s circleKey infinite linear;
}

#business .business h3 {
  padding: 10px 0;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #0057FF;
  line-height: 22px;
  cursor: progress;
}
#business .business h1 {
  text-align: center;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
}
#business .business p {
  width: 60%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  padding: 36px 0 60px 0;
}
#business .business--img {
  width: 900px;
}
#business .business--orange {
  position: absolute;
  margin-left: 890px;
  margin-top: -20px;
  animation: 3s circleKey infinite linear;
}

#us h3 {
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  padding: 20px 0 170px 0;
}
#us .us {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#us .us--group1 h1 {
  text-align: center;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
  text-align: start;
}
#us .us--group1 p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  color: #000000;
  padding: 40px 0;
}
#us .us--group1__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: start;
}
#us .us--group1__block h2 {
  padding-top: 27px;
  font-weight: 400;
  font-size: 25px;
  text-transform: uppercase;
  color: #000000;
}
#us .us--group1__block h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  padding: 17px 0 27px 0;
}
#us .us--group1__block--svg1 button {
  background: #0057FF;
  border-radius: 30px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
  font-family: "Oswald", sans-serif;
  padding: 12px 35px;
  font-weight: 400;
}
#us .us--img1 {
  position: absolute;
  z-index: 1;
  width: 100px;
  margin-left: 605px;
  margin-top: -255px;
  animation: 3s circleKey infinite linear;
}
#us .us--group2 {
  height: 865px;
  width: 540px;
  background: #FFFFFF;
  box-shadow: 0 8px 28px rgba(83, 83, 83, 0.15);
  border-radius: 15px;
}
#us .us--group2 h2 {
  padding: 38px 0 8px 0;
  font-weight: 400;
  font-size: 29px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
#us .us--group2 p {
  font-family: "Roboto", sans-serif;
  padding: 20px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #000000;
}
#us .us--group2__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: space-evenly;
}
#us .us--group2__info input {
  background: #F8F8F8;
  border: 1px solid #E7E7E7;
  border-radius: 6px;
  padding: 20px 10px 20px 20px;
  font-weight: 400;
  font-size: 15px;
  color: #000000;
  outline: none;
  margin: 10px 0;
}
#us .us--group2__subject {
  display: flex;
  flex-direction: column;
}
#us .us--group2__subject textarea {
  outline: none;
  background: #F8F8F8;
  border: 1px solid #E7E7E7;
  border-radius: 6px;
  width: 430px;
  margin: 20px 35px;
  padding: 20px;
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}
#us .us--group2__subject--t1 {
  height: 20px;
}
#us .us--group2__subject--t2 {
  height: 100px;
}
#us .us--group2 button {
  background: #0057FF;
  border-radius: 30px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
  font-family: "Oswald", sans-serif;
  padding: 12px 35px;
  font-weight: 400;
  padding: 12px 185px;
  margin: 20px 30px;
  font-family: "Roboto", sans-serif;
}
#us .us--group2__green {
  position: absolute;
  margin-left: -180px;
  margin-top: -170px;
  animation: 3s circleKey infinite linear;
}

#world {
  padding: 120px 0 0 0;
}
#world .world {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#world .world img {
  width: 550px;
}
#world .world--title h1 {
  text-align: center;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
  text-align: start;
}
#world .world--title p {
  font-family: "Roboto", sans-serif;
  padding: 38px 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  color: #000000;
}
#world .world--title__line {
  border-bottom: 1px solid lightgray;
}
#world .world--title__line1 {
  border-top: 1px solid lightgray;
}

#market {
  padding: 150px 0;
}
#market .market {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#market .market--group1 h1 {
  text-align: center;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
  text-align: start;
}
#market .market--group1 p {
  padding: 35px 0 5px 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}
#market .market--group1__research {
  padding: 37px 0 8px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#market .market--group1__research h2 {
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  color: #000000;
}
#market .market--group1__line1 {
  border: 2px solid #EBEBEB;
  border-radius: 100px;
}
#market .market--group1__line2 {
  border: 2px solid #0057FF;
  border-radius: 100px;
  width: 380px;
  margin-top: -4px;
}
#market .market--group1__line3 {
  border: 2px solid #B861FF;
  border-radius: 100px;
  width: 180px;
  margin-top: -4px;
}
#market .market--group1__line4 {
  border: 2px solid #FF8E32;
  border-radius: 100px;
  width: 300px;
  margin-top: -4px;
}
#market .market--group2 {
  height: 710px;
  background: #FFFFFF;
  box-shadow: 0 10px 30px rgba(83, 83, 83, 0.15);
  border-radius: 10px;
}
#market .market--group2 h2 {
  font-weight: 400;
  font-size: 19px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  position: absolute;
  margin-left: 180px;
  margin-top: -110px;
}
#market .market--group2 h1 {
  padding: 30px 0 10px 0;
  text-align: center;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  color: #000000;
}
#market .market--group2 h3 {
  padding-bottom: 12px;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
}
#market .market--group2 a {
  margin: 20px 0 20px 120px;
  text-align: start;
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  text-transform: uppercase;
  color: #000000;
}
#market .market--group2 button {
  background: #0057FF;
  border-radius: 30px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
  font-family: "Oswald", sans-serif;
  padding: 12px 35px;
  font-weight: 400;
  margin: 30px 0;
}

#team {
  padding: 60px 0;
}
#team .team--grey {
  position: absolute;
  margin-left: 360px;
  z-index: -1;
  margin-top: 22px;
  animation: 4s circleKey infinite linear;
}
#team .team h3 {
  padding: 150px 0 20px 0;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #0057FF;
  line-height: 22px;
  cursor: progress;
}
#team .team p {
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  color: #000000;
  font-family: "Roboto", sans-serif;
}
#team .team button {
  margin: 40px 0;
  background: #0057FF;
  border-radius: 30px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
  font-family: "Oswald", sans-serif;
  padding: 12px 35px;
  font-weight: 400;
}

#logos .logos--line {
  border: 1px solid #E7E7E7;
  margin: 40px 0;
}
#logos .logos--logo {
  cursor: no-drop;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#news {
  padding: 55px 0 70px 0;
}
#news .news--img {
  position: absolute;
  width: 70px;
  margin-top: -60px;
  margin-left: -40px;
  animation: 3s circleKey infinite linear;
}
#news .news h3 {
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #0057FF;
  line-height: 22px;
  cursor: progress;
}
#news .news h1 {
  padding: 10px 0 25px 0;
  text-align: center;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
}
#news .news--groups {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#news .news--groups__group1--blok1 {
  margin: 40px 0;
  width: 505px;
  height: 200px;
  background: #FFFFFF;
  border: 1px solid #D9DCEC;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: space-around;
}
#news .news--groups__group1--blok1 img {
  width: 200px;
  margin-left: -30px;
}
#news .news--groups__group1--blok1__title {
  margin-left: -65px;
}
#news .news--groups__group1--blok1__title h3 {
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #0057FF;
  line-height: 22px;
  cursor: progress;
  text-align: start;
}
#news .news--groups__group1--blok1__title h2 {
  padding: 5px 0 10px 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}
#news .news--groups__group1--blok1__title p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}
#news .news--groups__group2 {
  background: #FFFFFF;
  border: 1px solid #D9DCEC;
  border-radius: 10px;
  height: 445px;
  width: 540px;
}
#news .news--groups__group2 img {
  width: 500px;
  margin-top: 17px;
}
#news .news--groups__group2--title {
  position: absolute;
  margin-top: -160px;
  margin-left: 50px;
}
#news .news--groups__group2--title h3 {
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #0057FF;
  line-height: 22px;
  cursor: progress;
  text-align: start;
}
#news .news--groups__group2--title h1 {
  text-align: center;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
  text-align: start;
}

#footer {
  background: #000000;
  padding: 36px 0;
}
#footer .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: start;
}
#footer .footer--block1__title {
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#footer .footer--block1__title h3 {
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0 5px;
}
#footer .footer--block1__title h2 {
  line-height: 22px;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  color: #999999;
}
#footer .footer--block2__ssilka {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#footer .footer--block2__ssilka a {
  font-weight: 400;
  font-size: 11px;
  line-height: 22px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-right: 35px;
}
#footer .footer--block2__icons {
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 45%;
  margin-top: 80px;
  margin-left: 240px;
}
#footer .footer--block2__icons a {
  color: #FFFFFF;
  padding: 13px;
  height: 22px;
  width: 22px;
  border: 1px solid rgba(240, 242, 250, 0.33);
  border-radius: 100px;
}

/*# sourceMappingURL=style.css.map */
